@model List<Finbridge.Web.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1 class="mb-4">Пользователи</h1>
    <a href="/Home/Create" class="btn btn-primary mb-3">Создать нового пользователя</a>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.FullName</td>
                        <td>
                            <a href="@Url.Action("BalanceHistory", "Home", new { id = user.Id })" class="btn btn-sm btn-info">История баланса</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">Пользователи не найдены</td>
                </tr>
            }
        </tbody>
    </table>
</div>