<Menu Mode="MenuMode.Inline" DefaultSelectedKeys="@(new[] { "1" })" Style="height: 100%; border-right: 0; background: var(--bg-sider);">
    <MenuItem Key="1" RouterLink="/">
        <Icon Type="user" Theme="outline" />
        <span>Пользователи</span>
    </MenuItem>
    <MenuItem Key="2" RouterLink="/stalker-mods">
        <Icon Type="rocket" Theme="outline" />
        <span>S.T.A.L.K.E.R. Mods</span>
    </MenuItem>
</Menu>
